html {
    width: 1024px;
}

header {
    height: 50px;
    width: 1024px;
}

main {
    display: block;
    left: 0;
    max-width: 1024px;
    width: 1024px;
    padding: 20px 0px;
    margin: 0;
    background-color: rgb(245, 247, 255);
}


header a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    max-width: 1024px;
    gap: 20px 10px;
    background-color: rgb(235, 247, 255);
}

.grid {
    width: auto;
    min-width: 400px;
    padding: 20px;
    background-color: rgb(230, 244, 253);
    display: flex;
    flex-direction: column;
}

.form-button {
    margin: 10px;
    width: 120px;
}

.labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 580px;
    max-width: 580px;
}

.view_model {
    padding: 10px;
    display: flex;
    justify-content: right;
}

.view_model a {
    text-decoration: none;
    color: rgb(38, 42, 31);
    padding: 0 auto;
    font-weight: bold;
}

#myCanvas, #myCanvas01a, #myCanvas01, #myCanvas02a, #myCanvas02 {
    background-color: white;
}

.canvas {
    background-color: white;
}

#projectileForm {
    display: flex;
    width: 720px;
}

#pendulumForm {
    display: flex;
    width: 720px;

}

#projectileForm label {
    display: flex;
    flex: row;
    margin-left: 10px;
    margin-right: 40px;
    align-items: center;
}

#projectileForm input {
    width: 50px;
    margin-left: 10px;
}

#pendulumForm label {
    display: flex;
    flex: row;
    margin-left: 10px;
    margin-right: 40px;
    align-items: center;
}

#pendulumForm input {
    width: 50px;
    margin-left: 10px;
}

.buttons {
    right: 0;
}

.model_content {
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 247, 255);
}

.model_results {
    padding: 20px;
}